html{
  height: 100%;
}

/*background*/
body{
  /*background-image: linear-gradient(to bottom, #2e0927, #750035);*/
  background-repeat: no-repeat;
  margin: 0;
}

/*big box*/
.content{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}

.hut{
  width: 150px;
  border-radius: 50%;
}
h1{
  margin: 1.5%;
  font: normal 45px 'Lato';
  color: #FF2D00;
  vertical-align: middle;
}
.email{
  font: lighter 20px 'Lato';
  text-decoration: none;
  color: #FF8C00;
  vertical-align: middle;
  border: 0px;
}
.email:hover{
  text-decoration: underline;
}
/*TODO fix padding*/
.links{
  padding: 2%;
  width: 100%;
  text-align: center;
}

img{
  margin: 10px;
  width: 30px;
  height: auto;
}


*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
